
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>Test</h2>
<br />
<h1 style="color:blue"> Merhaba Dünya </h1>

<a href="/Home/Test2" class="btn btn-warning"> Teste Git 2 ye git </a>