
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Menüsü</h2>
<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>Ad</td>
        <td>Şehir</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Mustafa</td>
        <td>Adana</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Mustafa</td>
        <td>İstanbul</td>
    </tr>
</table>

