@model AspNetMvc_Cv.Models.Entity.Tbl_Hobilerim
@{
    ViewBag.Title = "HobiEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Hobi Ekleme Sayfası</h4>
<br />

<form method="post">

    <br />
    @Html.Label("Açıklama1")
    @Html.TextBoxFor(x => x.Aciklama1, new { @class = "form-control" })

    <br />
    @Html.Label("Açıklama2")
    @Html.TextBoxFor(x => x.Aciklama2, new { @class = "form-control" })

    <br />
    <button class="btn btn-info">Kaydet</button>

</form>
